<h1>This is the Bathroom Show Page</h1>
<ul>

    <li><%= @bathroom.title %></li>
    <li><%= @bathroom.address %></li>
    <li><%= @bathroom.description %></li>
    <li><%= @bathroom.price %></li>
    <a href="btn btn-primary">Book this bathroom</a>

</ul>
