<div id="sign-up" style="display:flex">
    <%= link_to 'Sign up', new_user_registration_path, class: "login" %>
    <%= link_to 'Login', new_user_session_path, class: "login" %>

  </div>
</div>

<div class="home-banner">
  <div id="slogan">
    <h1>Do a poo in someone else's loo!</h1>
    <%= link_to 'Get Started', bathrooms_path, class: "get_started" %>
  </div>
</div>
