#map-box-container {
  // position: relative;
  // height: 100% !important;
  // width: 100% !important;
}

#map {
    width: 80%;
  height: 80vh;
  }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
