.navbar-lewagon {
  justify-content: space-between;
  background: $airpnp-blue;
  // opacity: 0.8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 56px;
  padding-right:32px;
}


.navbar-lewagon-transparent {
  transition: 1s opacity ease;
  opacity: 0.8;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

#logo {
  align-items: center;
  i {
  font-size: 40px;
  color: white;
  padding-right: 24px;
  }

  .logo_text {
  text-decoration: none;
  font-family: $logo-font;
  font-size: 40px;
  color: white;
  margin: auto;
  }
}

#sign-up {
  align-items: center;
  .login {
  text-decoration: none;
  margin: auto;
  color: white;
  padding-right: 24px;
  &:hover{
    color: $airpnp-orange;
    transition: 0.2s color ease;
    }
  }
}
