
 .booking_form {
  input, select {
    border-radius: 20px
  }
  padding: 0px;
  background-color: white;
  box-shadow: 1px 1px 10px #888888;
  label {
  font-size: 16px;
  }
  h2 {
  color:$airpnp-blue;
  // font-family: $logo-font;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  }
  small {
    font-size: 16px;
  }
  .form-check {
    font-size: 1rem;
  }
}

.form-actions {
   border-bottom: 1px solid $airpnp-blue;
}

.title {
  background-color: #ffffff;
  padding: 12px 12px 36px 12px;
  border-bottom: 1px solid $airpnp-blue;
}


.button-primary {
  margin-top: 24px;
  margin-bottom: 48px;
  padding: 10px 20px 10px 20px;
  border-radius: 24px;
  font-weight:bolder;
  font-size: 20px;
  justify-self: left;
  border: 1px solid $airpnp-orange;
  color: $airpnp-orange;
  background-color: #ffffff;
  &:hover{
    color: white;
    background-color: $airpnp-orange;
    opacity: 0.9;
    transition: 0.2s background-color ease;
    border: 1px solid $airpnp-orange;
  }
  &:hover{
    color: white;
    background-color: $airpnp-orange;
    opacity: 0.9;
    transition: 0.2s background-color ease;
  }
}

.button-blue {
  margin-top: 24px;
  padding: 8px 12px 8px 12px;
  border-radius: 24px;
  font-weight:bolder;
  font-size: 16px;
  text-decoration: none;
  justify-self: left;
  border: 1px solid $airpnp-blue;
  color: $airpnp-blue;
  background-color: #ffffff;
  &:hover{
    color: white;
    background-color: $airpnp-blue;
    opacity: 0.9;
    transition: 0.2s background-color ease;
    border: 1px solid $airpnp-blue;
  }
  &:hover{
    color: white;
    background-color: $airpnp-blue;
    opacity: 0.9;
    transition: 0.2s background-color ease;
  }
}
