.bathroom-show-container {
  padding: 24px 48px;
  width: 800px;
  .back {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    padding: 6px 8px;
    font-size: 12px;
    border-radius: 24px;
    margin-right:6px;
    margin-left: 6px;
    border: 1px solid $airpnp-blue;
    color: $airpnp-blue;
    background-color: #ffffff;
    &:hover{
      color: white;
      background-color: $airpnp-blue;
      opacity: 0.9;
      transition: 0.2s background-color ease;
      border: 1px solid $airpnp-blue;
  }
  }
  .price_book {
    padding: 24px;
    p {
      text-align: right;
    }
  }
  .book_now {
      margin-left: 300px;
      text-decoration: none;
      border: 1px solid #F9F9F9;
      background-color: white;
      margin-top: 24px;
      padding: 12px 24px 12px 24px;
      border-radius: 24px;
      font-weight:bolder;
      color: $airpnp-orange;
      &:hover{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        transition: 0.2s box-shadow ease;
      }
  }
}
